@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.page-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-image: $linear-gradient-page-overlay;
  color: $color-navbar-text;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 400;
  font-family: "Alex Brush";
}
