@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/variables' as *;
@use './../../styles/partials/typography' as *;

.post {
  width: 100%;
  padding: $small 0;
  &:not(:last-child) {
    border-bottom: $separator-line-post;
  }

  &__figure {
  }

  &__img {
    width: 100%;
    border-radius: 5px;
  }

  &__top-info {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: $extra-small 0;
  }

  &__author {
    font-size: 2.7rem;
    margin-bottom: $tiny;
  }
  &__time {
    font-size: 1.4rem;
    color: $color-text-light;
    text-transform: uppercase;
  }

  &__description {
    font-size: 2.2rem;
    line-height: 1.3;
  }
}
